* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

ul li {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	min-width: 1380px;
	margin: auto;
	overflow: auto;
	background: #fff;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	color: #000;
}

.header .search input,
.menubarTitle h4,
.menubarTitle a,
.collectionTitle,
.overview h2{
	font-size: 20px !important;
}

.modelformat h5,
.modelformat h4,
.menubarMixins td label,
.modelformatTab input,
.modelformatTab select,
.modelformatTab .item,
.modelformat,

.collectionWrap .item h2,
.collectionWrap .item .spanLine,

.object_detection_left h2,
.object_detection_left .spanLine,
.overview .spanLine{
	font-size: 16px !important;
}

.collectionWrap .item .spanLine,
/* .object_detection_left .spanLine, */
/* .overview .spanLine, */
.containedModels .item .spanLine{
	color: #2e9dd0 !important;
}
.swiper-container .swiper-slide .spanLine{
	color: #000!important;
}
.object_detection_left .spanLine b,
.overview .spanLine b,
.containedModels .item .spanLine b{
	color: #505050 !important;
}
.containedModels .item:hover .spanLine b{
	color: #fff !important;
}	

/* h2{
	font-size: 0.3rem !important;	
}
h3{
	font-size: 0.26rem !important;
}
h4{
	font-size: 0.22rem !important;
}
h5{
	font-size: 0.16rem !important;
} */


a {
	text-decoration: none;
}

.flex {
	display: flex !important;
	display: -webkit-flex;
}

.flex.jlr {
	justify-content: space-between;
}

.flex.j-center {
	justify-content: center;
}

.flex.j-end {
	justify-content: flex-end;
}

.flex.a-center {
	align-items: center;
}

.flex.col {
	flex-direction: column;
}

.flex.wrap {
	flex-wrap: wrap;
}

.flex .fx1 {
	flex: 1;
}

.full {
	height: 100%;
}

.header {
	width: 100%;
	height: 78px;
	border-bottom: 2px solid #eeeeee;
	position: absolute;
	left: 0;
	top: 0;
	/* new */
	z-index: 3;
	background-color: #fff;
}

.header .header_btn {
	width: 24px;
	height: 15px;
	cursor: pointer;
	margin-left: 0.23rem;
	margin-right: 0.33rem;
}

.header .header_btn:hover span {
	background: #ec6941;
}

.header .header_btn span {
	display: block;
	width: 100%;
	height: 3px;
	background: #000;
}

.header .logo {
	width: 140px;
	height: 47px;
	background: url(../img/logo.png) no-repeat;
	margin-right: 2rem;
}

.header .search {
	background: #e4e5e9;
	height: 40px;
	flex: 1;
	margin-right: 0.8rem;
}

/* new */
.header .search form {
	display: flex;
	width: 100%;
}

.header .search input {
	border: 0;
	background: none;
	outline: none;
	flex: 1;
	height: 100%;
	padding: 0px 15px;
	font-size: 16px;
}

/* new */
.header input[type="text"] {
	flex: 1;
}

/* new */
.header input[type="submit"] {
	flex: 0;
}

.header .search button {
	width: 21px;
	height: 21px;
	margin-right: 20px;
	cursor: pointer;
	border: 0;
	outline: none;
	background: url(../img/searchBtn.png) no-repeat;
}

.header .sendFeedback {
	font-size: 18px;
	/* color: #414345; */
	margin-right: 0.2rem;
}

.main {
	width: 100%;
	height: 100%;
	padding-top: 78px;
}

/* new */
.menubar {
	/* width: 7.15rem; */
	/* min-width: 560px; */
	position: relative;
	padding-top: 0.92rem;
	height: 100%;
	border-right: 2px solid #eee;
	overflow: auto;
}

.menubarTitle {
	width: 100%;
	height: 0.82rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	border-bottom: 2px solid #eee;
	padding: 0px 0.3rem;
}

.menubarTitle h4 {
	font-size: 0.22rem;
	/* color: #3a4552; */
	font-weight: 400;
}

.menubarTitle a {
	/* color: #a9abae; */
	font-size: 0.14rem;
}

.menubarItem {
	width: 100%;
	cursor: pointer;
	height: 0.78rem;
	border-bottom: 2px solid #eee;
	padding: 0px 0.3rem;
	font-size: 0.16rem;
	/* color: #737a83; */
}

.menubarItem:hover {
	color: #ec6941;
}

.menubarItem .sanjiao {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #ec6941;
}

.modelformat {
	/* color: #737a83; */
	padding: 0.25rem 0.3rem;
	border-bottom: 2px solid #eee;
}

.modelformat .eqa {
	width: 18px;
	cursor: pointer;
	height: 18px;
	background: url(../img/qea.png) no-repeat;
	background-size: 100%;
	margin-left: 10px;
}

.modelformat h5 {
	font-weight: 400;
	font-size: 0.16rem;
}

/* new */
.modelformatTab {
	height: 24px;
	/* background: #f5f6f8; */
	/* width: 2.47rem; */
	/* border: 2px solid #eee; */
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 16px;
	align-items: center;
	justify-content: flex-start;
	/* change2 */
}

.modelformatTab .item {
	/* border-right: 2px solid #eee; */
	height: 100%;
	/* flex: 1; */
	font-weight: 600;
	font-size: 0.12rem;
}

.modelformatTab .item:last-child{
	width: 120px;
}
.modelformatTab select {
	height: 100%;
}

.modelformatTab input[type="text"] {
	height: 100%;
	text-align: center;
}

.modelformatTab .item:last-child {
	border: 0;
	justify-content: flex-start;
}

/* change2 */
.modelformatTab.submit {
	/* border: 1px solid #409eff;
	line-height: 26px;
	height: 26px;
	width: 1rem;
	margin-top: 0; */
	background-color: #409eff;
	line-height: 36px;
	height: 36px;
}

/* change2 */
.modelformatTab.submit a {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	/* color: #409eff; */
	color: #fff;
}

.switch {
	position: relative;
	width: 50px;
	height: 25px;
	background-color: #fff;
	border: none;
	outline: none;
}

.switch i {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	border: 1px solid #dadada;
	background-color: #fff;
	transition: all .2s;
}

.modelformatTab select {
	border-color: #cecece;
}

.modelformatTab input {
	border: 1px solid #cecece;
	width: 100%;
}

.switch span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #dadada;
	border-radius: 25px;
	z-index: 0;
	background: #959595;
}

.switch input {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 25px;
	margin: 0;
	padding: 0;
	opacity: 0;
	z-index: 9999;
}

.switch input:checked+span {
	background-color: #58ad2c;
	border-color: #58ad2c;
}

.switch input:checked+span i {
	background-color: #fff;
	border-color: #58ad2c;
	left: 25px;
}

.collectionWrap {
	padding: 38px 1rem 20px 10px;
	flex: 1;
	overflow: auto;
}
/* change2 */
.collectionWrap .item {
	min-width: 6.6rem;
	width: 52%;
	padding: 0.28rem 0.3rem 0.2rem 0.3rem;
	margin: 0.12rem 1%;
	height: 5.40rem;
	/* height: 9.56rem; */
	background: url(../img/homeBg.png) no-repeat;
	background-size: 100% 100%;
}

.collectionTitle {
	font-size: 15px;
	/* color: #707376; */
}

.collectionTitle .icon {
	width: 26px;
	height: 26px;
	background: url(../img/codeing.png) no-repeat;
	background-size: 100% 100%;
	margin-right: 0.12rem;
}

.collectionWrap .item h2 {
	font-size: 0.26rem;
	padding: 0.25rem 0px;
	/* color: #4e5660; */
}

.collectionWrap .item .spanLine {
	font-size: 0.2rem;
	/* color: #919498; */
	margin: 0.2rem 0px;
}

.collectionWrap .item .spanLine.detail {
	font-size: 0.17rem;
}

.collectionWrap .item .spanLine b {
	color: #000;
	font-weight: 400;
}

.spanLine.detail span {
	display: block;
	width: 100%;
	text-align: right;
}

.spanLine.detail a {
	display: inline-block;
	border: 1px solid #b3d8ff;
	padding: 6px 10px;
	color: #409eff;
	background-color: #ecf5ff;
	border-radius: 6px;
}

.collectionWrap .item .infoText {
	font-size: 0.17rem;
	/* color: #6e7071; */
}

.headBack {
	width: 100%;
	height: 0.66rem;
	background: #f5f6f8;
	font-size: 0.2rem;
	/* color: #555768; */
	padding: 0px 0.23rem;
}

.headBack a {
	/* color: #555768; */
}

.headBack .iconBack {
	margin-right: 0.15rem;
}

.iconBack {
	width: 0.22rem;
	height: 0.22rem;
	background: url(../img/back.png) no-repeat;
	background-size: 100% 100%;
}

.subMain {
	border-top: 2px solid #eee;
	padding: 0.66rem;
}

/* new */
.object_detection_wrap {
	width: 100%;
	border-bottom: 4px solid #d2f1ff;
	padding-bottom: 0.66rem;
}

.object_detection_left {
	width: 65%;
	padding-right: 2rem;
}

.object_detection_left h2 {
	font-size: 0.3rem;
	/* color: #313752; */
	padding: 0.2rem 0px 0.3rem 0px;
}

.object_detection_left .labelText {
	font-size: 0.18rem;
	/* color: #898989; */
}

.object_detection_left .spanLine {
	font-size: 0.2rem;
}

.object_detection_Right {
	flex: 1;
	font-size: 0.18rem;
	/* color: #898989; */
}

.object_detection_Right .item {
	margin-top: 0.26rem;
}

.object_detection_Right .item:first-child {
	margin: 0;
}

.object_detection_Right span {
	/* color: #b6b6b6; */
}

.overview h2 {
	font-size: 0.3rem;
	/* color: #313752; */
	padding: 0.35rem 0px;
}

.overview {
	/* font-size: 0.2rem; */
	font-size: 16px;
	/* color: #898989; */
	line-height: 200%;

}

.subMain .overview {
	border-bottom: 2px solid #eaeaea;
	padding-bottom: 0.66rem;
}

.subMain .sub-overview h2 {
	position: relative;
	font-size: 0.24rem;
	padding-left: 16px;
	/* color: #585858; */
}

.subMain .sub-overview h2::before {
	content: '';
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background-color: #585858;
}

.overview a {
	color: #7990e5;
	text-decoration: underline;
}

.tableOverview:last-child table {
	margin-top: 0.6rem;
}

.tableOverview table {
	border-collapse: collapse;
	border: 0;
	width: 100%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	margin-top: 0.3rem;
}

.tableOverview table thead tr th {
	background: #fff;
	border-bottom: 2px solid #eee;
	/* font-size: 0.17rem; */
	/* color: #313752; */
	padding: 0.25rem 0.4rem;
	background: #f5f5f5;
}

.tableOverview table tbody tr td {
	/* font-size: 0.15rem; */
	/* color: #868787; */
	background: #fefefe;
	padding: 0.25rem 0.4rem;
	border-bottom: 1px solid #f0f0f0;
}

.tableOverview table tbody tr td a {
	color: #7990e5;
	text-decoration: underline;
}

.containedModels h2 {
	font-size: 0.3rem;
	/* color: #313752; */
	padding: 0.4rem 0px;
	/* border-top: 2px solid #eee; */
	margin-top: 0.3rem;
}

.containedModels h2 em {
	font-style: normal;
	/* color: #707070; */
}

.containedModels .item {
	width: 23%;
	margin: 1%;
	padding: 0.2rem;
	cursor: pointer;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
}

.containedModels .item:hover {
	background: #EC6941;
}

.containedModels .item:hover *,
.containedModels .item:hover .Updated,
.containedModels .item:hover .Updated span,
.containedModels .item:hover .text,
.containedModels .item:hover .Architecture,
.containedModels .item:hover .Architecture span {
	color: #fff;
}

.containedModels .item .titleWrap {
	width: 100%;
}

.containedModels .item .titleWrap img {
	width: 22px;
}

.containedModels .item h4 {
	/* color: #5d5a68; */
	padding: 0.25rem 0px 0.45rem 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.containedModels .item .Updated {
	/* color: #919498; */
}

.containedModels .item .Updated span {
	/* color: #54585c; */
	margin-right: 0.12rem;
}

.containedModels .item .text {
	/* color: #6e7071; */
	padding: 0.2rem 0px;
}

.containedModels .item .Architecture {
	/* color: #919498; */
}

.containedModels .item .Architecture span {
	/* color: #54585c; */
}

.ImgBox {
	width: 35px;
	height: 35px;
	background: #fff !important;
	border-radius: 50%;
	margin-right: 10px;
}

.menubarMixins table {
	border-collapse: collapse;
	border-spacing: 0;
}

.menubarMixins table tr {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.menubarMixins td {
	display: inline-block;
	padding: 0;
}

.menubarMixins td label {
	border: 1px solid #cecece;
	padding: 6px 16px;
	font-size: 0.17rem;
}

.menubarMixins td:first-child label {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.menubarMixins td:last-child label {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.menubarMixins td:not(:last-child) label {
	border-right: none;
}

.menubarMixins td input {
	opacity: 0;
	outline: none;
	position: absolute;
	margin: 0;
	z-index: -1;
}

.menubarMixins td input:checked+label {
	background-color: #409eff;
	border-top-color: #409eff;
	border-bottom-color: #409eff;
	color: #fff;
}

/* change2 localhost */
/* swiper */
.swiper-button-next,
.swiper-button-prev {
	width: 0.2rem;
	background-size: 0.2rem 44px;
}

.swiper-container .swiper-slide .spanLine {
	justify-content: center;
	/* margin-left: calc(0.2rem + 20px); */
}


/* slider */
#accuracy-slider,
#precision-slider,
#recall-slider,
#f1Score-slider {
	min-width: 120px;
	flex-grow: 1;
	margin: 0 20px;
}

.ui-widget-header {
	background-color: #409eff;
}


/* change2 detail */
.layer-container {
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
	width: 100%;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	margin-top: 0.3rem;
	padding: 40px 40px;
}

.layer-container .layer-item {
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 10px 5px;
	text-align: center;
	line-height: 1.2em;
	flex:1;
	text-decoration: none;
	/* color: #898989; */
	cursor: pointer;
}
.layer-container .layer-item:hover{
	color: #7990e5;
	border-color: #7990e5;
}

.layer-container .next {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	margin: 0 0.2rem;
	background-image: url(../img/triangle.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}


.menubarTitle h4{
	color: #0000ee;
}
.menubarMixins .modelformat h5,
.modelformat h4{
	color: #2e9dd0 !important;
}

.collectionWrap .collectionTitle,
.object_detection_left .collectionTitle,
.overview h1,
.overview h2,
.containedModels>h2,
.subMain .tableOverview h2{
color: #1e71d4 !important;
}

